body {
	margin: 0;
	font-family: arial;
}
header {
	background: #2b507d85;
}
.logo-section {
	width: 21%;
	display: inline-block;
}
.logo-section img{
	width: 50%;
	margin-top: 4px;
}
nav{
	float: right;
	margin-top: 50px;
	margin-right: 92px;
}
a{
	text-decoration: none;
	color: black;
	margin-left: 20px;
	padding: 20px 25px;
}
nav a:hover{
	background: gray;
	border-radius: 15px;
}

section.banner-section {
	background-image: url(../images/back.jpeg);
	padding: 216px;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

section.banner-section h1 {
	text-align: center;
	font-size: 110px;
	text-transform: uppercase;
	border: 2px solid white;
	color: white;
}

section.about-section {
	padding: 7px 0 200px;
	background: #ab7c8014
}
h2.title {
	text-align: center;
	font-size: 41px;
	text-transform: uppercase;
}
.about-div-left {
	width: 57%;
	padding-left: 81px;
	display: inline-block;
}
.about-div-right {
	width: 35%;
    float: right;
    clear: both;
 }

.about-div-right img {
    width: 400px;
}

a.button {
	text-decoration: none;
}