body {
	margin: 0;
	font-family: arial;
}
header {
	background: #2b507d85;
}
.logo-section {
	width: 21%;
	display: inline-block;
}
.logo-section img{
	width: 50%;
	margin-top: 4px;
}
nav{
	float: right;
	margin-top: 50px;
	margin-right: 92px;
}
a{
	text-decoration: none;
	color: black;
	margin-left: 20px;
	padding: 20px 25px;
}
nav a:hover{
	background: gray;
	border-radius: 15px;
}

section.banner-section {
	background-image: url(../images/back.jpeg);
	padding: 216px;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

section.banner-section h1 {
	text-align: center;
	font-size: 110px;
	text-transform: uppercase;
	border: 2px solid white;
	color: white;
}

section.about-section {
	padding: 7px 0 200px;
	background: #ab7c8014
}
h2.title {
	text-align: center;
	font-size: 41px;
	text-transform: uppercase;
}
.about-div-left {
	width: 57%;
	padding-left: 81px;
	display: inline-block;
}
.about-div-right {
	width: 35%;
    float: right;
    clear: both;
 }

.about-div-right img {
    width: 400px;
}

a.button {
	text-decoration: none;
	text-transform: capitalize;
	font-size: 20px;
	float: right;
	padding: 13px 19px;
	border: 1px solid black;
	color: black;
	background: gray;
}

/* Service section */
section.service-section {
    padding: 56px 0 42px;
}
.service-section-div {
    width: 33%;
    display: inline-block;
    text-align: center;
    font-size: 19px;
    line-height: 29px;
}
.service-section-div i.service-icon {
    font-size: 127px;
}
i.fas.fa-rocket {
    color: darkblue;
}
i.fas.fa-satellite-dish {
    color: black;
}
i.fas.fa-meteor {
    color: maroon;
}
a.service-button {
    text-decoration: none;
    color: blue;
}
a.service-button:hover {
    color: blue;
}
i.fas.fa-arrow-right {
    margin-top: 6px;
    position: absolute;
    margin-left: 5px;
    color: blue;
}


section.cta-section {
	border-top: 2px solid black;
	padding: 120px 0;
	text-align: center;
	font-size: 40px;
	background: #233950;
	color: #c3c4d4;
}

.cta-section button {
	background: #2c4861;
    border: 1px solid;
    padding: 15px 20px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 13px;
    color: #b7bfbe;
}

section.footer-section {
	border-top: 2px solid #312c2c;
    background: #586069;
    color: #f7f8fd;
    display: inline-block;
    width: 33px;

}

.footer-section h5 {
    padding-bottom: 0px;
    margin: 17px;
    width: 33%;
    display: inline-block;
    line-height: 29px;
}

}

.footer-section ul {

    display: inline-block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}

.footer-section2 {
	border-top: 2px solid #312c2c;
    background: #586069;
    color: #f7f8fd;
    display: inline-block;
    width: 33px;

	
}
.footer-section3 {
	border-top: 2px solid #312c2c;
    background: #586069;
    color: #f7f8fd;
    display: inline-block;
    width: 33px;

	
}
